{:output-to        "resources/public/js/app.js"
 :foreign-libs     [{:file     "resources/public/js/imask.js"
                     :provides ["jslib.imask"]}]
 :css-dirs         ["resources/public/css"]
 :source-map       "resources/public/js/app.js.map"
 :output-dir       "resources/public/js/out"
 :closure-warnings {:non-standard-jsdoc :off :global-this :off}
 :optimizations    :advanced
 :main             'app.build.prod
 :externs          []}
